body, html {
    height: 100%;
}

table {
    height: 100%;
    border-collapse: collapse;
    position: relative;
}

.header {
    background: #00BFFF;
    color: #00f;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}

.container {
    box-sizing: border-box;
}

.sidebar {
    background-color: #FFD700;
    width: 200px;
    line-height: 20px;
    box-sizing: border-box;
}

.menu__list {
    text-align: left;
    margin: 25px;
}

.content__text {
    font-size: 1.5em;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding: 5px 0;
}

.content__img {
    width:250px;
    float:left;
    margin: 10px;
}

.footer {
    background-color:#00BFFF;
    color: #00f;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
}


@media (max-width: 470px) {
    .header {
        background: #00BFFF;
        color: #00f;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        padding: 10px;
    }

    .container {
        box-sizing: border-box;
    }

    .sidebar {
        background-color: #FFD700;
        width: 200px;
        line-height: 20px;
        box-sizing: border-box;
        font-size: 15px
    }

    .menu__list {
        text-align: left;
        margin: 10px;
    }

    .content__text {
        font-size: 0.8em;
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
        padding: 5px 0;
    }

    .content__img {
        width: 200px;
        float: left;
        margin: 5px;
    }

    .footer {
        background-color: #00BFFF;
        color: #00f;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .header {
        background: #00BFFF;
        color: #00f;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        padding: 10px;
    }

    .content__img {
        width: 155px;
        float: left;
        margin: 5px;
    }

    .footer {
        background-color: #00BFFF;
        color: #00f;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        padding: 10px;
    }
}
