*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #FF0000;
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container {
    max-width: 510px;
    padding: 0 15px;
    margin: 0 auto;
}

.about__box-text {
    white-space: pre-wrap;
}

.about__box {
    padding: 33px 40px;
    background-color: #fff;
    max-width: 400px;
    position: relative;
}

.about__box::after,
.about__box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}

.about__box::before {
    background-image: url('../images/decor-left.svg');
    top: 19px;
    left: 19px;
}

.about__box::after {
border-bottom: 2px solid #ECB84C;
border-right: 2px solid #ECB84C;
right: 19px;
bottom: 19px;
}

.about__item:nth-child(even) {
    background-position: left;
}

.about__item:nth-child(even) .about__box {
    margin-left: auto;
}

.about__item:nth-child(even) .about__box::before {
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #ECB84C;
    border-top: 2px solid #ECB84C;
}

.about__item:nth-child(even) .about__box::after {
    left: 19px;
    border-right: none;
    border-left: 2px solid #ECB84C;
}


.photo__slider {
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0 0.3));
}

.slick-arrow {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ECB84C;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    font-size: 8px;
    color: #A9A9A9;
}


